@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --primary-clr-darkcyan: hsl(158, 36%, 37%);
    --primary-clr-darkercyan: hsl(158, 36%, 30%);
    --primary-clr-cream: hsl(30, 38%, 92%);

    --neutral-clr-verydarkblue: hsl(212, 21%, 14%);
    --neutral-clr-darkgrayblue: hsl(228, 12%, 48%);
    --neutral-clr-white: hsl(0, 0%, 100%);
}
/* card container */
.main{
    /*  */
    max-width: 80vh;    
    margin: 0 auto;
    margin-top: 20vh;
    
}

main{
    background-color: var(--primary-clr-cream);
}

.card{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
}

#image_desktop{
    width: 60%;
}

img{
    border-radius: 2% 0 0 2%;
    width: 100%; 
    height: 100%;
}

#mobile_image{
    display: none;
}

.card-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 0 2% 2% 0;
    background-color: var(--neutral-clr-white);
    padding: 2% 10% 5% 5%;
}

.section-title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: var(--neutral-clr-darkgrayblue);

}

.section-heading{
    font-family: 'Fraunces';
    color: var(--neutral-clr-verydarkblue);
    margin-top: 0;
}

.description{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: var(--neutral-clr-darkgrayblue);
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}

.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.price{
    color: var(--primary-clr-darkcyan);
    font-family: 'Fraunces';
    margin-right: 20px;
}

.discount-price{
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: var(--neutral-clr-darkgrayblue);
}

.atc-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-clr-darkcyan);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: var(--neutral-clr-white);
    transition-duration: 0.4s;
    margin: auto;
}

.atc-btn:hover{
    background-color: var(--primary-clr-darkercyan);
}

svg{
    margin-right: 10px;
}

@media screen and (max-width: 600px){
    .main{
        margin-top: 0vh;
    }

    #desktop_image{
        width: auto;
        display: none;
        visibility: hidden;
    }

    #mobile_image{
        display: block;
    }

    img{
        border-radius: 3% 3% 0 0;
    }

    .card{
        flex-direction: column;
        width: auto;
    }

    .card-content{
        width: auto;
        border-radius: 0 0 3% 3%;
    }

    .prices{
        justify-content: left;
    }

    .atc-btn{
        width: 100%;
    }

}